---
import { Image } from 'astro:assets'
import heroImage from './hero.jpg'
---

<div class="grow">
  <Image src={heroImage} class="w-full h-full object-cover" alt="A picture of an auto shop"/ >
</div>