---
import EmblaCarousel from './reactCarousel/EmblaCarousel.jsx'
---


<div class="max-w-4 overflow-hidden">
    <h2 class="text-center">Engineering Service</h2>
    <EmblaCarousel client:load>
</div>