---
import Tab from './Tab.astro';
import { Image } from 'astro:assets';
---

<div class="lg:flex ">
    <div class="flex flex-col lg:h-[50vh] justify-center px-12">
        <Tab title="Costing Analysis" />
        <Tab title="Program Performance Analysis" />
        <Tab title="APQP Management" />
        <Tab title="PPAP and Capacity Analysis" />
    </div>
    <div class="flex flex-col h-[50vh] justify-center md:shrink-0">
        <Image
            src="https://unsplash.it/600/400"
            alt="placeholder"
            width="600"
            height="400"
            class="ml-5"
        />
    </div>
</div>
